@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}
.mt{
    margin-top: 20px;
}
body{
    background-color: #101215;
}
.header{
    height: 100vh;
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-line{
    height: 70px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
}
.heading{
    color: white;
    font-size: 40px;
}
.logo{
    width: 50%;
}
.tagline{
    font-size: 60px;
    margin-left: 40px;
    position: absolute;
    bottom: 40px;
}
.menu{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;

}
.menu__item{
    margin-right: 20px;
    font-size: 25px;
}
.menu__item:hover{
    color: #a4a4a4;
}
.main{
    min-height: 1000px;
    padding: 40px;
}
.text{
    font-size: 25px;
    margin-top: 20px;
    width: 70%;
}
.actors{
    display: flex;
    flex-wrap: wrap;
}
.actor{
    width: 200px;
    height: 360px;
    border-radius: 10px;
    background-color: #3b3b3b;
    margin-right: 20px;
    padding: 10px;
}
.actor-img{
    width: 200px;
    height: 280px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.actor-name{
    font-size: 20px;
    margin-top: 10px;
}
.actor-hero{
    color: grey;
}
.feedback{
    background-color: #282828;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, textarea{
    width: 740px;
    height: 40px;
    background-color: #101215;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 15px;
    font-size: 20px;
}
textarea{
    height: 150px;
    padding-top: 10px;
}
button{
    margin-top: 10px;
    background-color: #101215;
    border: 2px solid #101215;
    padding: 10px 35px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
button:hover{
    background: none;

}
.footer{
    padding: 10px;
    background-color: #101215;
    display: flex;
    justify-content: center;
}
.plot{
    height: 100px;
    overflow: hidden;
}
.read-more{
    color: lightgrey;
    cursor: pointer;
}